@import url(http://fonts.googleapis.com/css?family=Playball);

html, body  {height: 100%; min-height: 100%}
body{ padding-top: 40px; }

.big-header{
	height: 90%;
	background: url(../img/bigpic.jpg) ;
	background-size: cover;
	color : white
}
	.big-header h1{
		font-size: 5em;
		font-family: playball;
		text-shadow: 0px  0px 5px  #000;
	}

		.big-header h1 a{ color : white; }

	.btn-ghost{
		color : white;
		border : 1px solid white;
		transition: all 300ms ease
	}

	.btn-ghost:hover{
		color : #000;
		border : 1px solid white;
		background: #fff;
	}

.project{
	width: 2em;
	line-height: 2em;
	border-radius:2em;
	background: rgba(162, 150, 57, 0.28);
	display: inline-block;
	margin: .5em 0;
	font-size: 5em;
}


.big-footer{
	background: #333;
	margin-top: .5em;
	color: #eee;
	padding :1em;
}

.infoViticulteur, .ficheNomVin{
	text-transform: capitalize;
}
.ficheNomVin{
	font-family: playball;
}
/* icone */
.glyphicon-lg{ font-size: 1.5em; }
