@import url(http://fonts.googleapis.com/css?family=Playball);
.glyphicon-lg{
	font-size: 1.5em;
}
html, body  {height: 100%;}
.mastoc{
	font-size: 4em;
	font-family: playball;

}

.big-header{
	padding-top : 3em;
	height: 80%;
	background: url(../img/bigpic.jpg) ;
}

